<!Doctype html>
<div class="row">
        <div class="input-field col s6">
          <input  id="empleadoRFC" type="text" class="validate">
          <label for="empleadoRFC">RFC</label>
        </div>
        <div class="input-field col s6">
          <input id="numEmpleado" type="text" class="validate" >
          <label for="numEmpleado">Numero de Empleado</label>
        </div>
</div>

<div class="row">
        <div class="input-field col s4">
          <input  id="puestoEmpleado" type="text" class="validate">
          <label for="puestoEmpleado">Puesto</label>
        </div>
        <div class="input-field col s4">
          <input id="categoriaEmpleado" type="text" class="validate">
          <label for="categoriaEmpleado">Categoría</label>
        </div>
	  <div class="input-field col s4">
          <input id="first_name" type="text" class="validate">
          <label for="Clave Federal">Clave Federal</label>
        </div>
      
</div>