<!Doctype html>
<br>Porfavor llena los siguientes datos para continuar con la instalación <br>
<form id="form_check" onsubmit="return instalar();">
	<div class="row">
        <div class="col s12">
          <div class="input-field">
            <input id="serie" type="text" class="validate" required>
            <label for="serie">Num de Serie de la Tablet</label>
          </div>
        </div>
      </div>
	
	<div class="row">
        <div class="col s12">
          <div class="input-field">
            <input id="nombre" type="text" class="validate" required>
            <label for="nombre">Nombre del responsable</label>
          </div>
        </div>
      </div>
	
	<div class="row">
        <div class="col s12">
          <div class="input-field">
            <input id="email" type="email" class="validate" required>
            <label for="email">Email</label>
          </div>
        </div>
      </div>
	
	<div class="row">
        <div class="col s12">
          <div class="input-field">
            <input id="telefono" type="tel" class="validate" pattern="[0-9]{10}" title="el numero de telefono debe contener solo numeros" required>
            <label for="telefono">Teléfono</label>
            
          </div>
        </div>
      </div>
	<button class="waves-effect waves-light  green darken-3 btn-small">Continuar</button>
</form>